body{
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    background: linear-gradient(109.6deg, rgb(245, 239, 249) 30.1%, rgb(207, 211, 236) 100.2%);
    width: 100%;
    overflow-x: hidden;
}


.container {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-right: 150px; /* Leave space for the sidebar */
    padding-left: 250px;
    margin-top: 80px;

}

.content {
    max-width: 800px;
    text-align: center;
}

.topic {
    position: relative;
    display: inline-block;
    text-align: center;
    line-height: 1.3;

}

.topic::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px; /* Adjust based on your needs */
    width: 100%;
    border-bottom: 2px red dashed;
}

.topnav {
    position: fixed;         /* Fixed position to stay at the top of the page */
    top: 0;                  /* Stays at the top */
    left: 0;                 /* Stays aligned to the left */
    width: 100%;             /* Full width of the page */
    color: black;            /* Text color */
    padding: 15px;           /* Padding for some space around the content */
    z-index: 1000;           /* High z-index to ensure it's on top of other content */
    box-shadow: 0px 4px 2px -2px gray; /* Optional shadow for some visual depth */
    transition: top 0.3s; /* Smooth transition for hiding and showing */
}

.topnav h2 {
    display: inline-block;
    margin: 0;               /* Align the heading to the left */
}

.topnav a {
    color: black;
    text-decoration: none;
    margin-left: 20px;       /* Space between links */
    font-size: 18px;
    display: inline-block;
    position: relative;
}

.topnav a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    right: 0;
    position: absolute;
    background: linear-gradient(to left, #f69ec4, #f9dd94 100%);
    transition: width .5s ease 0s, right .5s ease 0s;
    width: 0;
}

.topnav a:hover::after {
    width: 100%;
    right: 0;
  }

.layer {
    width: 450px;
}

body ol{
    font-size: 20px;
    padding-left: 60px;
    padding-right: auto;
}

body ol li {
    padding-bottom: 15px;
    padding-top: 25px;;
    text-align: left;
}
#csv p {
    text-align: left;
    font-size: 25px;
}
.gui {
    width: 450px;
}
footer p a{
    text-decoration: none;
    font-size: 10px;
}

footer {
    width: 100%;
    height: 60px; /* Set a fixed height for footer */
    color: rgb(26, 25, 25);
    display: flex;
    justify-content: flex-start; /* Align the footer content to the left */
    align-items: center;
    padding-left: 20px;
}